/* GLOBAL STYLES
-----------------*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Merriweather", serif;
  line-height: 1.5;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)), url(../images/background.png) no-repeat fixed;
  background-size: cover;
  background-position: 50%;
}

h1 {
  font-family: "Lora", serif;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
}

h2, h3, h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 0;
}

h2, h3 {
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
}

section h2 {
  margin-top:50px;
  margin-bottom: 50px;
}

a {
  color: #1b62c4;
  transition: all 0.5s ease;
}
a:hover {
  color: #c2d22c;
  text-decoration: none;
}


.content-wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 0;
  /* and / or */
  width: 80%;
}


      /* NAVIGATION */
.ios {
  -webkit-tap-highlight-color:rgba(0,0,0,0)
}
  nav {
    position: fixed !important;
    right: 20px;
    top: 20px;
    text-align: center;
    font-size: 20px;
    z-index:890;
  }
  nav ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav:hover ul {
    display: block;
  }

  nav li {
    display: block;
    width: 150px;
  }

nav a {
  color: white;
  background: #1b62c4;
  opacity:0.7;
  transition:1s all;
  -webkit-transition:1s all;
  border-radius: 0px;
  text-decoration: none;
  width: 100%;
  float:left;
  margin-top:10px;
  padding:10px;
}

nav a:hover {
  display: block;
  padding: 5px 15px;
  text-transform: uppercase; 
  text-decoration: none;
  color: #1b62c4;
  background: #c2d22c;
  }

nav a:active {
  display: block;
  padding: 5px 15px;
  text-transform: uppercase; 
  text-decoration: none;
  color: black;
  background: #c2d22c;
}


  .fa-bars {
    padding: 10px;
    top:0;
    right:0;
    cursor: pointer;
    font-size: 45px;
    color: #1b62c4;
    float: right;
  } 



/* HEADER 
-------------*/

header {
  text-align: center;
  padding: 150px 0;
}

header h1 {
  font-size:110px;
  font-family: "Lora", serif;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
}

header h2 {
  font-size: 65px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.download {
  position: fixed !important;
  top: 0;
  left: 0;
  color: white;
  font-size: 20px;
  background: #1b62c4;
  border-radius: 0px;
  text-decoration: none;
  width: 150px;
  float:left;
  padding:10px;
  opacity: 0.7;
  transition:1s all;
  -webkit-transition:1s all;
  z-index:890;
}

.download:hover {
  background: #c2d22c;
  display: block;
  padding: 5px 15px;
  text-transform: uppercase; 
  text-decoration: none;
  color: #1b62c4;
}


.logo {
  top: 0;
  margin-top:50px;
  left: calc(50% - 42.5px);
  width: 85px;
}

.highlight {
  color: #1b62c4;
}


/* COMMON SECTION STYLES 
-------------------------*/
.work-experience,
.education {
  background-color: #f6f7f9;
}

.profile,
.skills,
.contact {
  background-color: #f6f7f9;
  color:#ffffff;
}

/* ABOUT ME / PROFILE
----------------------*/
.profile {
  background: rgba(0, 0, 0, 0.8);
  padding:150px 50px 200px 50px;
}
.profile h2 {
  font-size: 36px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background: #1b62c4;
  display: inline-block;
  padding: 10px 20px;
  transform: rotate(-4deg);
  margin-bottom: 30px;
  border: none;
  transition: all 0.5s ease;
  color:white;
}
.profile h2:hover {
  transform: rotate(4deg);
  background-color: #c2d22c;
  color:black;
}

.profile .summary {
  float: left;
  width: 70%;
  margin-top: 10px;
}

.profile-image {
  width: 27%;
  float: left;
  padding: 4px;
  margin-right: 3%;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.profile a {
  color: #c2d22c;
  transition: all 0.5s ease; 
}

.profile a:hover {
  color: #1b62c4;
  text-decoration: none;
}

/* WORK EXPERIENCE & EDUCATION
-------------------------------*/
/* job & education entries */
.item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px 0;
}
.item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

/* PORTFOLIO 
---------------- */
.portfolio {
  font-size: 36px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color:black;
  text-align: center;
  background-color: #f6f7f9;
  padding-top:50px;
  margin:0;
}

/* INTRO
--------------- */
.screenshots-intro {
    padding: 70px 0 100px 0;
    background-color: #f6f7f9;
}
.screenshots-intro h2 {
    margin-bottom: 20px;
    color: #24374b;
    font-weight: 400;
    font-size: 22px;
}
.screenshots-intro p {
    margin-bottom: 25px;
    color: #778899;
}

.screenshots-intro a {
  color: #1b62c4;
  transition: all 0.5s ease;
}

.screenshots-intro a:hover {
  color:#c2d22c;
  text-decoration: none;
}

.screenshots-intro a:active {
  color:#c2d22c;
  text-decoration: none;
}

  /*  SCREENSHOTS
  ----------------  */
.screenshots ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.screenshots ul li {
    float: left;
    width: 25%;
    background-color: #000;
    list-style: none;
    height: 240px;
}
.screenshots figure {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

}

.screenshots figure img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.screenshots figure:hover img, .screenshots figure:focus img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.screenshots figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25% 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 97, 132, 0.85);
    text-align: center;
    font-size: 15px;
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.screenshots figcaption a {
    color: #fff
}
.screenshots figcaption a:hover, .screenshots figcaption a:focus {
    color: #c2d22c;
}
.screenshots figure:hover figcaption, .screenshots figure:focus figcaption {
    opacity: 1
}
.visible {
    opacity: 1
}
.screenshots figure.cs-hover figcaption {
    opacity: 1
}
.screenshots figcaption i {
    font-size: 35px
}
.screenshots figcaption p {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 400;
  }

.screenshots figcaption .caption-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -100px;
    width: 200px;
    -webkit-transform: translate(0px, 15px);
    -ms-transform: translate(0px, 15px);
    transform: translate(0px, 15px);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.screenshots figure:hover figcaption .caption-content, .screenshots figure:focus figcaption .caption-content {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}


/* WORK EXPERIENCE
-------------------*/
.work-experience .date {
  margin: 5px 0 20px 0;
  font-size: 12px;
}

.work-experience h2 {
  font-size: 36px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}


.work-experience h3 {
  line-height: 1.25;
  font-size: 16px;
}

.work-experience strong {
  font-weight: 300;
  text-transform: uppercase;
}

.work-experience .details {
  float: left;
  width: 30%;
  padding-right: 30px;
}

.work-experience .description {
  font-size: 14px;
  width: 70%;
  float: right;
}

.work-experience .description p:first-child {
  margin-top: 8px;
}

.company {
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
  letter-spacing: 0.08em;
  color: #1b62c4;
}

figure {
  float: left;
  width: 220px;
  margin: 10px;
}

figure img {
  width: 100%;
  height: auto;
}

/* SKILLS
----------*/
.skills {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/background.png) no-repeat fixed 50%;
  background-size: cover;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding-top:50px;
  padding-bottom: 150px;
}

.skills h2 {
  font-size: 36px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-top:0;
}

.skills h3 {
  margin: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.columns h4 {
  margin-bottom: 10px;
  color: #c2d22c;
  text-align: center;
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  letter-spacing: 0.08em;
}
.skills i {
  color: #c2d22c;
}

.skills-list .columns {
  width: 33.33%;
  float: left;
  padding: 0 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.skills-list ul,
.skills-circles ul {
  list-style-type: none;
  padding: 0;
}

.skills-circles ul li {
  height: 150px;
  width: 150px;
  line-height: 150px;
  display: inline-block;
  padding: 0 10px;
  border: 2px solid #c2d22c;
  border-radius: 50%;
  background: black;
}
.skills-circles span {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}

/* EDUCATION
-------------*/
.education{
  padding:50px;
}
.education h4 {
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
  letter-spacing: 0.08em;
  color: #1b62c4;
}
.education h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 36px;
}

.education h3 {
  line-height: 1.25;
  font-size: 16px;
}


/* CONTACT 
------------- */
.contact {
  background: #111;
}
.contact p {
  margin: 0;
}
.contact p:first-of-type {
  margin-top: 50px;
}

.contact a {
  color: #c2d22c;
  transition: all 0.5s ease;
}
.contact a:hover {
  color: #1b62c4;
  text-decoration: none;
}

.contact h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 36px;
}

.social {
  width: 50%;
  float: right;
  text-align: right;
  font-size: 30px;
}
.social a {
  margin: 0 8px;
  color: #c2d22c;
  transition: all 0.5s ease;
}

.social a:hover {
  color: #1b62c4;
  text-decoration: none;
}

/*  FOOTER 
-------------------- */
footer {
  clear: both;
  font-size: 12px;
  margin-top: 175px;
  text-align:center;
}

footer a {
  color: #1b62c4;
  transition: all 0.5s ease;
}
footer a:hover {
  color: #c2d22c;
  text-decoration: none;
}
.fa-arrow-up {
  color:#1b62c4;
  position:fixed !important;
  right: 20px;
  bottom: 20px;
  float:right;
  text-align:right;
  font-size:30px;
  opacity:0.7;
}

/* MEDIA QUERIES
--------------------*/
@media (max-width: 800px) {
body {
  font-family: "Merriweather", serif;
  line-height: 1.5;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)), url(../images/background_mobile.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
}
  
  /* About section */
  .profile-image {
    width: 48%;
    float: right;
    margin: 0 0 15px 2%;
  }
  .profile .summary {
    width: auto;
    float: none;
  }
  .work-experience .details {
    float: none;
    width: 100%;
    padding-right: 0px;
  }
  .work-experience .description {
    width: 100%;
    float: none;
  }
}

@media screen and (max-width:785px) {
  header h1 {
    font-size:70px;
  }
  header h2 {
    font-size:35px;
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 75px 0px;
  } 
  header h1 {
    font-size: 40px;
  }
  header h2,
  section h1 {
    font-size: 24px;
  }
  nav {
    font-size:15px;
  }
  nav li {
    width:110px;
  }
  .profile {
    padding:50px 25px; 
  }
  
  .profile-image {
    width:150px;
    float:left;
    margin:0 0px 10px 10px;
  }
  .profile-summary {
    width: 100%;
    float:none;
  }

  .education h2 {
    font-size: 18px;
  }
  .contact .social {
    width: 100%; 
    float: left; 
    text-align: left; 
    margin-bottom: 20px;
  }
 .profile h2 {
    font-size: 24px;
    float:none;
    margin-left:20px;
  } 
}

@media screen and (max-width:991px) {
  .screenshots ul li {width:50%;}
  .screenshots-intro{padding:110px 0 100px 0;}
}

@media screen and (max-width:465px){
  .screenshots ul li {width:100%;min-height:100%;float:none;}
}



